body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.article-body {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    max-width: 1000px;
    margin: 0 25px 0 25px;
}

.article-body h1, h2 {
    text-decoration: underline;
}

.article-body h1 {
    font-size: 2.5rem;
}

.article-body h2 {
    font-size: 2rem;
}

.article-body h3 {
    font-size: 1.5rem;
    font-style: italic;
}

.article-body p, a {
    font-size: 1.25rem;
}

.article-body p {
    line-height: 2rem;
}

.article-body ul {
    padding: 0 20px 0 20px;
}

.article-body .figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.article-body .figure img {
    max-width: 90%;
    max-height: 400px;
}

.article-body .figure p {
    font-style: italic;
}